<!DOCTYPE HTML>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Пример веб-страницы</title>
 </head>
 <body>
    <div class="form__block">
        <form>
            <input class="input__field" placeholder='userClient'> 
            <input class="input__field" placeholder='name'> 
            <input class="input__field" placeholder='sirName'> 
            <input class="input__field" placeholder='patronymic'> 
            <input class="input__field" placeholder='sex'> 
            <input class="input__field" placeholder='birthDate'> 
            <input class="input__field" placeholder='country'> 
            <input class="input__field" placeholder='docs'> 
            <input class="input__field" placeholder='docNumber'> 
            <input class="input__field" placeholder='gave'> 
            <input class="input__field" placeholder='date'> 
            <input class="input__field" placeholder='inn'> 
            <input class="input__field" placeholder='postalCode'> ...........
            <input class="input__field" placeholder='region'> 
            <input class="input__field" placeholder='district'> 
            <input class="input__field" placeholder='settlement'> 
            <input class="input__field" placeholder='settlementName'> 
            <input class="input__field" placeholder='street'> 
            <input class="input__field" placeholder='date'> 
            <input class="input__field" placeholder='inn'> 
        </form>
    </div>
    <style>
    .form__block{
        display: flex;
        margin: 0 auto;
        text-align:center;
        margin-top:15%;
    }
    .form__block form{
        display:block;
    }
    </style>
 </body>
</html>